DATABASE_URL="postgresql://user:password@host:5432/dbname?schema=public"
JWT_SECRET="change_this_to_a_strong_secret"
KOR_DICT_API_URL=""
KOR_DICT_API_KEY=""
SMTP_URL=""
ADMIN_USERNAME="leowasd4267"
ADMIN_NUMBER="0000"
